.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.15s;
  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--color-chat-hover);
  }

  &.active {
    color: var(--color-primary);
  }
}

// In design folder tabs matches with chat list, so we need to keep the same height
// Size in pixels needed for 72px height of the tab (16px padding + 16px title + 40px icon)
.icon {
  font-size: 2rem;
  line-height: 1;
  padding: 0.1875rem;
  height: 40px;

  :global(.emoji) {
    --custom-emoji-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
}

.title {
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.badge {
  position: absolute;
  top: 0.3125rem;
  right: 1rem;
  min-width: 1.1875rem;
  height: 1.1875rem;
  padding: 0 0.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  background: var(--color-gray);
  color: white;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1;
  outline: 2px solid var(--color-background);
}

.badgeActive {
  background: var(--color-primary);
}

.contextMenu {
  position: absolute;
}

.blocked {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 0.75rem;
}
