.wrapper {
  display: none;
  height: 100%;
  position: relative;
  background: var(--color-background);
  border-right: 1px solid var(--color-borders);
  max-width: 5rem;

  @media (min-width: 926px) {
    display: flex;
    flex-direction: column;
  }
} 